{% extends 'base_new.html' %} 

{% load humanize %}
{% load static %}

{% block content %} 

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    {% comment %} <h3 class="breadcumb-title">Member Dashboard</h3> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Manage your Great Stay Hotel account</h2>
        </div>
    </div>
    </div>
</section>

<section id="dashboard" class="py-4">

    {% include 'partials/_alert.html' %}

    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome {{user.first_name | title}}</h2>

            {% if contacts %}
            <p>Here are the hotels that you have inquired about</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Date of Inquiry</th>
                    <th scope="col">Hotel</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                <tr>
                    <td class="align-middle">{{contact.contact_date}}</td>
                    <td class="align-middle">{{contact.listing | title}}</td>
                    <td>
                    <a class="btn south-btn" href="{% url 'hotel_listings:hotel_listing' contact.listing_id %}">View Hotel</a>

                    <button class="btn south-btn" data-url="{% url 'contacts:delete_contact' contact.id %}" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{contact.id}}">Delete Inquiry</button>
<!--
                    <a class="btn btn-danger" href="{% url 'contacts:delete_contact' contact.id %}">Delete Inquiry</a>                 
-->                    
                    <a class="btn south-btn" href="{% url 'contacts:edit_contact' contact.id %}">Edit Inquiry</a>                 
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>You have no enquiry</p>
            {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- delete Modal -->

<div class="modal fade" id="deleteConfirmModal" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button class="close" type="button" data-dismiss="modal">
                    <spaan>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure deleting this record?</p>
                <a class="btn btn-danger" href="" id="confirmDeleteBtn">Yes</a>
                <button class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}