{% extends 'base_new.html' %} {% load static %} {% load humanize %} 

{% block content %} 

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    {% comment %} <h3 class="breadcumb-title">Member Login</h3> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<section id="login" class="bg-light py-5">
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">

        {% include 'partials/_alert.html' %}
                    
        <div class="card">
            <div class="card-header text-white" style="background-color: #947054;">
            <h4 style="color: #fff"><i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    required
                />
                </div>

                <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    required
                />
                </div>

                <input
                type="submit"
                value="Login"
                class="btn south-btn btn-block"
                />
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}