{% extends 'base_new.html' %} {% block content %} {% load static %}
{% load i18n %}

<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">About us</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->



    <!-- ##### About Content Wrapper Start ##### -->
    <section class="about-content-wrapper section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>We search for the perfect hotel</h2>
                        <p>Explore our top-rated hotels, offering exceptional service and comfort. </p>
                    </div>
                    <div class="about-content">
                        <img class="wow fadeInUp" data-wow-delay="350ms" src="{% static 'img/bg-img/about.jpg' %}" alt="">
                        <p class="wow fadeInUp" data-wow-delay="450ms">Welcome to Great Stay International! We’re delighted to offer exceptional service, elegant accommodations, and a tranquil atmosphere in the heart of the city. Whether you're traveling for business or leisure, our goal is to make your stay truly memorable. As a premier global hotel brand with 20 luxurious locations worldwide, we take pride in delivering outstanding hospitality experiences. From personalized service to thoughtfully designed spaces, we ensure comfort and convenience at every turn. Discover the perfect blend of sophistication and warmth that defines Great Stay International—where every guest is treated like family.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Featured Hotels</h2>
                        <p>Book your stay today and experience the best in hospitality!</p>
                    </div>

                    <div class="featured-properties-slides owl-carousel wow fadeInUp" data-wow-delay="350ms">

                        <!-- Single Slide -->
                        {% if hotel_listings %}
                        {% for hotel_listing in hotel_listings %}
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="{{hotel_listing.photo_main.url}}" alt=""> 

                                {% if hotel_listing.is_onsale %}
                                    <div class="tag">
                                        <span>Sale</span>
                                    </div>
                                    <div class="list-price">
                                        <p>{{hotel_listing.discount}}% OFF</p>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>{{hotel_listing.name}}</h5>
                                <p class="location"><i class="fa-solid fa-map" style="color: #947054;"></i> {{hotel_listing.city}}</p>
                                <p>{{hotel_listing.description}}</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <i class="fa-solid fa-bed" style="color: #947054;"></i>
                                        <span>{{hotel_listing.rooms}}</span>
                                    </div>
                                    <div class="bathroom">
                                        <i class="fa-solid fa-utensils" style="color: #947054;"></i>
                                        <span>{{hotel_listing.restaurants}}</span>
                                    </div>
                                    <div class="garage">
                                        <i class="fa-solid fa-swimming-pool" style="color: #947054;"></i>
                                        <span>{{hotel_listing.facilities}}</span>
                                    </div>
                                </div>
                                <br>
                                <div class="text-center">
                                    <a href={% url "hotel_listings:hotel_listing" hotel_listing.id %} class="btn south-btn">{% trans "More Info" %}</a> 
                                </div>                                          

                            </div>
                        </div>
                        {% endfor %}

                        {% else %}
                        <div class="col-12 col-md-6 col-xl-4">
                            <h2>No Hotel Available</h2>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Content Wrapper End ##### -->


{% endblock %}