{% extends 'base_new.html' %} {% block content %} {% load static %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">Contact Us</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->



    <!-- ##### About Content Wrapper Start ##### -->
    <section class="about-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Contact Us</h2>
                        <p>From bespoke experiences to personalized assistance, our team is dedicated to making your stay exceptional. For reservations, special arrangements, or any inquiries, please contact us directly or complete the form below. We look forward to welcoming you with the highest standard of hospitality.</p>
                    </div>

                    <!-- FAQ Categories -->
            <div class="accordion" id="faqAccordion">
                <!-- Booking Questions -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bookingCollapse" style="color: #947054;">
                            ☎️ Contact Us
                        </button>
                    </h2>
                    <div id="bookingCollapse" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <div class="faq-item mb-4">
                                <h5>What is the address of your hotel?</h5>
                                <p class="text-muted">Here is the address of our hotel:  2169 Kālia Rd, Honolulu, HI 96815, Hawaii</p>
                            </div>
                            <div class="faq-item mb-4">
                                <h5>Can I contact your hotel via telephone?</h5>
                                <p class="text-muted">Of course, the telephone number is +1 808-923-3111.</p>
                            </div>
                            <div class="faq-item">
                                <h5>What is your hotel's email address?</h5>
                                <p class="text-muted">Our email address is reservations@coralreef.com</p>
                            </div>
                            <div class="faq-item">
                                <h5>Does you hotel provide any facsimile communication?</h5>
                                <p class="text-muted">Yes, you can confirm your booking via this fax number: .+1 808-923-3120</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payment Questions -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paymentCollapse" style="color: #947054;">
                            🚕 Public Transportation
                        </button>
                    </h2>
                    <div id="paymentCollapse" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <div class="faq-item mb-4">
                                <h5>How can I reach your hotel?</h5>
                                <p class="text-muted">You can get to our hotel either by bus, taxi or train.</p>
                            </div>
                            <div class="faq-item mb-4">
                                <h5>How long will it take to get to your hotel from the airport by bus and by taxi?</h5>
                                <p class="text-muted">It will take approximately 45 minutes and 25 minutes to get to our hotel by bus and taxi respectively.</p>
                            </div>
                            <div class="faq-item">
                                <h5>How long will it take to get to your hotel by train?</h5>
                                <p class="text-muted">It will take about 30 minutes to reach our hotel from the Central Station by train.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cancellation Questions -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cancellationCollapse" style="color: #947054;">
                            💵 Transportation Cost
                        </button>
                    </h2>
                    <div id="cancellationCollapse" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <div class="faq-item mb-4">
                                <h5>What is the cost of a taxi journey from the airport to your hotel?</h5>
                                <p class="text-muted">The cost of a taxi journey from the airport to our hotel is about US$20.</p>
                            </div>
                            <div class="faq-item mb-4">
                                <h5>What is the cost of a train journey from the Central Station to your hotel?</h5>
                                <p class="text-muted">A single-ride ticket from the Central Station to our hotel costs US$15.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Account Questions -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accountCollapse" style="color: #947054;">
                            🌏 Location Map
                        </button>
                    </h2>
                    <div id="accountCollapse" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <div class="faq-item mb-4">
                                <h5>Is there a map showing the location of your hotel?</h5>
                                <p class="text-muted">You can find the map of our hotel's location at the bottom of this page.</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1845.4643506909822!2d113.93439176950913!3d22.31853607772292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shk!4v1760722545192!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </div>

                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Content Wrapper End ##### -->


{% endblock %}