{% extends 'base_new.html' %} {% block content %} {% load i18n %} {% load static %}

    <!-- ##### Hero Area Start ##### {% static 'img/about.jpg' %} -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/hero2.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{% trans "Your dream hotel awaits" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/hero3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{% trans "Uncover your next getaway" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{% trans "Book for your great stay" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>{% trans "Search for your Hotel" %}</p>
                        </div>
                        <!-- Search Form -->
                        <form action='{% url "hotel_listings:hotel_search" %}' id="advanceSearch">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <input type="input" class="form-control" name="keywords" placeholder='{% trans "Keyword" %}'>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select name="city" class="form-control" id="city">
                                            <option selected="True" value="">{% trans "Cities" %}</option>                                            
                                            {% for key,value in city_choices.items %}
                                                <option value="{{key}}">{{value}}</option>
                                            {% endfor %}                                              
                                        </select>
                                    </div>                                
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control" id="catagories">
                                            <option>{% trans "Room Types" %}</option>
                                            <option>Single</option>
                                            <option>Double</option>
                                            <option>Suite</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3">
                                    <!-- Submit -->
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn south-btn">{% trans "Search" %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->

    <!-- ##### Featured Properties Area Start ##### -->
    <section class="featured-properties-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp">
                        <h2>Featured Hotels</h2>
                        <p>Discover our handpicked hotel of the month—where exceptional service, refined comfort, and distinctive character come together. Whether you're planning a business trip or a leisurely escape, this property exemplifies the standards we proudly showcase. Explore its unique offerings, standout amenities, and what makes it a guest favorite.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-group">
                <!-- Single Featured Property -->

                {% if hotel_listings %}
                {% for hotel_listing in hotel_listings %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Property Thumbnail -->
                                <div class="property-thumb">
                                    <img src="{{hotel_listing.photo_main.url}}" alt="">
                                    
                                    {% if hotel_listing.discount %}
                                        <div class="tag">
                                            <span>Sale</span>
                                        </div>
                                        <div class="list-price">
                                            <p>{{hotel_listing.discount}}% OFF</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        
                            <div class="card-body">
                                <h5 class="card-title" style="height: 50px;">{{hotel_listing.name}}</h5>
                                <p class="card-text"><i class="fa-solid fa-map" style="color: #947054;"></i> {{hotel_listing.city}}</p>
                                <p class="card-text">{{hotel_listing.description}}</p>

                            </div>
                            <div class="card-footer">
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                        <div class="new-tag">
                                            <i class="fa-solid fa-bed" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.rooms}}</span>
                                        </div>
                                        <div class="bathroom">
                                            <i class="fa-solid fa-utensils" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.restaurants}}</span>
                                        </div>
                                        <div class="garage">
                                            <i class="fa-solid fa-swimming-pool" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.facilities}}</span>
                                        </div>
                                </div>
                                <br>                           
                                <div class="text-center">
                                    <a href={% url "hotel_listings:hotel_listing" hotel_listing.id %} class="btn south-btn">{% trans "More Info" %}</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% else %}
                <div class="col-12 col-md-6 col-xl-4">
                    <h2>No Hotel Available</h2>
                </div>
                {% endif %}

            </div>
            <!-- Single Featured Property -->

            </div>
        </div>
    </section>
    <!-- ##### Featured Properties Area End ##### -->

{% endblock %}