{% extends 'base_new.html' %} {% block content %} {% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">Jobs</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="south-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Join Our Team at Great Stay Hotel </h2>
                        <p>We offer competitive benefits, ongoing training, and a supportive team culture where your growth matters. If you’re ready to bring warmth, professionalism, and a touch of magic to every guest interaction, we’d love to meet you.</p>
                    </div>
                </div>                
                <div class="col-12 col-lg-8">

                    {% if job_listings %}
                    {% for job_listing in job_listings %}
                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-50">

                        <!-- Post Content -->
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#">{{job_listing.post_date}}</a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline">{{job_listing.title}}</a>

                            <p>{{job_listing.summary}}</p>
                            
                            <!-- Read More btn -->
                            <a href="{% url "job_listings:job_listing" job_listing.id %}" class="btn south-btn">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                        <p>No Jobs Available</p>
                    </div>
                    {% endif %}                         

                </div>

            </div>

            {% comment %} <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="south-pagination mt-100 d-flex">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> {% endcomment %}


        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

{% endblock %}

