{% extends 'base_new.html' %} {% block content %} {% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/about.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">Article</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="south-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">

                    <div class="single-blog-area">
                        <!-- Post Thumbnail -->
                        {% if article.photo_1 %}
                        <div class="blog-post-thumbnail">
                            <img src="{{article.photo_1.url}}" alt="">
                        </div>
                        {% endif %}
                        <!-- Post Content -->
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#">{{article.post_date}}</a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline">{{article.heading}}</a>
                            <p>{{article.summary}}</p>
                            <p>{{article.contents}}</p>
                            {% if article.photo_2 %}
                            <img class="mb-50" src="{{article.photo_2.url}}" alt="">
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
{% comment %} 
            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="south-pagination mt-100 d-flex">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

{% endblock %}