{% extends 'base_new.html' %} {% block content %} {% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/about.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">News</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="south-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Stay in the Loop with Great Stay Hotel </h2>
                        <p>Stay connected with the latest announcements and discover how we’re continuing to elevate the guest experience, one story at a time.</p>
                    </div>
                </div>    
                
                <div class="col-12 col-lg-8">

                    {% if news %}
                    {% for article in news %}
                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-50">

                        <!-- Post Content -->
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#">{{article.post_date}}</a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline">{{article.heading}}</a>

                            <p>{{article.contents}}</p>
                            <!-- Read More btn -->
                            <a href="{% url "news:article" article.id %}" class="btn south-btn">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-12">
                        <p>No News Available</p>
                    </div>
                    {% endif %}                    


                </div>
            </div>
{% comment %} 
            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="south-pagination mt-100 d-flex">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

{% endblock %}