{% extends 'base_new.html' %} {% block content %} {% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">Hotel Listings</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>Search for your hotel</p>
                        </div>
                        <!-- Search Form -->
                        <form action='{% url "hotel_listings:hotel_search" %}' id="advanceSearch">
                            <div class="row">

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <input type="input" class="form-control" name="input" placeholder="Keyword">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select name="city" class="form-control" id="city">
                                            <option selected="True" value="">Cities</option>                                       
                                            {% for key,value in city_choices.items %}
                                                <option value="{{key}}">{{value}}</option>
                                            {% endfor %}                                              
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control" id="catagories">
                                            <option>Room Types</option>
                                            <option>Single</option>
                                            <option>Double</option>
                                            <option>Suite</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <!-- Submit -->
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn south-btn">Search</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->

    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="card-group">
                <!-- Single Featured Property -->

                {% if hotel_listings %}
                {% for hotel_listing in hotel_listings %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card ">
                            <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Property Thumbnail -->
                                <div class="property-thumb">
                                    <img src="{{hotel_listing.photo_main.url}}" alt="">
                                    
                                    {% if hotel_listing.discount %}
                                        <div class="tag">
                                            <span>Sale</span>
                                        </div>
                                        <div class="list-price">
                                            <p>{{hotel_listing.discount}}% OFF</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        
                            <div class="card-body">
                                <h5 class="card-title" style="height: 50px;">{{hotel_listing.name}}</h5>
                                <p class="card-text"><i class="fa-solid fa-map" style="color: #947054;"></i> {{hotel_listing.city}}</p>
                                <p class="card-text" style="height: 400px;">{{hotel_listing.description}}</p>

                            </div>
                            <div class="card-footer">
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                        <div class="new-tag">
                                            <i class="fa-solid fa-bed" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.rooms}}</span>
                                        </div>
                                        <div class="bathroom">
                                            <i class="fa-solid fa-utensils" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.restaurants}}</span>
                                        </div>
                                        <div class="garage">
                                            <i class="fa-solid fa-swimming-pool" style="color: #947054;"></i>
                                            <span style="font-size: 12px;">{{hotel_listing.facilities}}</span>
                                        </div>
                                </div>
                                <br>                           
                                <div class="text-center">
                                    <a href={% url "hotel_listings:hotel_listing" hotel_listing.id %} class="btn south-btn">More Info</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% else %}
                <div class="col-12 col-md-6 col-xl-4">
                    <h2>No Hotel Available</h2>
                </div>
                {% endif %}

            </div>
            <!-- Single Featured Property -->
            <p>
            <div class="row">
                <div class="col-12">
                    <div class="south-pagination d-flex justify-content-end">
                        <nav aria-label="Page navigation">
            <ul class="pagination">

              {% if hotel_listings.has_previous %}
              <li class="page-item">
                <a class="page-link" href='?page={{hotel_listings.previous_page_number}}'>&laquo;</a>
              </li>              
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
              </li>
              {% endif %}

              {% for i in hotel_listings.paginator.page_range %}
                {% if hotel_listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if hotel_listings.has_next %}
              <li class="page-item">
                <a class="page-link" href='?page={{hotel_listings.next_page_number}}'>&raquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
              </li>              
              {% endif %}
            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listing Content Wrapper Area End ##### -->

{% endblock %}