{% extends 'base_new.html' %} {% block content %} {% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        {% comment %} <h3 class="breadcumb-title">{{hotel_listing.name}}</h3> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>Search for your hotel</p>
                        </div>
                        <!-- Search Form -->
                        <form action="#" method="post" id="advanceSearch">
                            <div class="row">

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <input type="input" class="form-control" name="input" placeholder="Keyword">
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control" id="cities">
                                            <option>Cities</option>                                            
                                            {% for key,value in city_choices.items %}
                                                <option value="{{key}}">{{value}}</option>
                                            {% endfor %}                                              
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control" id="catagories">
                                            <option>Room Types</option>
                                            <option>Single</option>
                                            <option>Double</option>
                                            <option>Suite</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <!-- Submit -->
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn south-btn">Search</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->


    
    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <!-- Single Listings Slides -->
                    <div class="single-listings-sliders owl-carousel">
                        <!-- Single Slide -->
                        <img src="{{hotel_listing.photo_1.url}}" alt="">
                        <!-- Single Slide -->
                        <img src="{{hotel_listing.photo_2.url}}" alt="">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="listings-content">
                        <!-- Price -->
                        {% if hotel_listing.is_onsale %}
                        <div class="list-price">
                            <p>SALE {{hotel_listing.discount}}% OFF</p>
                        </div>
                        {% endif %}
                        <h5>{{hotel_listing.name}}</h5>
                        <p class="location"><i class="fa-solid fa-map" style="color: #947054;"></i> {{hotel_listing.city}}</p>
                        <p>{{hotel_listing.description}}</p>
                        <!-- Meta -->
                        <div class="property-meta-data d-flex align-items-end justify-content-between">
                            <div class="new-tag">
                                <i class="fa-solid fa-bed" style="color: #947054;"></i>
                                <span>{{hotel_listing.rooms}}</span>
                            </div>
                            <div class="bathroom">
                                <i class="fa-solid fa-utensils" style="color: #947054;"></i>
                                <span>{{hotel_listing.restaurants}}</span>
                            </div>
                            <div class="garage">
                                <i class="fa-solid fa-swimming-pool" style="color: #947054;"></i>
                                <span>{{hotel_listing.facilities}}</span>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                        <button
                            class="btn south-btn"
                            data-toggle="modal"
                            data-target="#inquiryModal"
                        >Make An Inquiry</button>
                        </div>

                <!-- Inquiry Modal -->
                <div class="modal fade" id="inquiryModal" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <form action="{% url 'contacts:contact' %}" method="POST">
                            {% csrf_token %}

                            <input type="hidden" name="listing_id" value="{{hotel_listing.id}}" />
                            <input type="hidden" name="doctor_email" value="sales@greastayhotel.com" />

                            {% if user.is_authenticated %}
                                <input type="hidden" name="user_id" value="{{user.id}}" />
                            {% else %}
                                <input type="hidden" name="user_id" value="0" />
                            {% endif %}

                            <div class="form-group">
                            <label for="clinic" class="col-form-label"
                                >Hotel:</label>
                            <input
                                type="text"
                                name="listing"
                                class="form-control"
                                value="{{hotel_listing.name}}"
                                readonly
                            />
                            </div>
                            <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{user.first_name}} {{user.last_name}}" readonly {% endif %} />
                            </div>
                            <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input
                                type="email"
                                name="email"
                                class="form-control"
                                {% if user.is_authenticated %} value="{{user.email}}" readonly {% endif %}
                            />
                            </div>
                            <div class="form-group">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="text" name="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                            <label for="message" class="col-form-label">Message:</label>
                            <textarea name="message" class="form-control"></textarea>
                            </div>
                            <hr />
                            <input
                            type="submit"
                            value="Send"
                            class="btn btn-block south-btn"
                            />
                        </form>
                        </div>
                    </div>
                    </div>
                </div>            
                <!-- Inquiry Modal End -->            

<p>
                        <!-- Listing Maps -->
                        <div class="row">
                            <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1845.4643506909822!2d113.93439176950913!3d22.31853607772292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shk!4v1760722545192!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listings Content Area End ##### -->

{% endblock %}